
.main{
    background-color: #ac3b61;
    border: 3px solid #1f2833;
    border-radius: 12px;
    margin: 12px;
    padding:40px;
}

.name{
    font-family: Sans-serif;
    font-size: 50px;
    width: 660px;
    position: relative;
    left: 8%;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.details{
    position: relative;
    margin-top: 40px;
    width: 450px;
    font-size: 17px;
    transform: translate(25% , -30%);
}
#faf{
    font-size: 22px;
}
.address{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin: 9px;
    top:-50%
}
.phone{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin: 9px;
    top:-50%
}
.mail{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin: 9px;
    top:-50%
}
.linkedin{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    margin: 9px;
    top:-50%
}

.profile-pic{
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.intrest-container , .skill-container, .language-container{
    position: relative;
    width: 350px;
    font-family: system-ui;
    left: 5%;
}

.summary-container{
    width: 550px;
    height: 200px;
    position: relative;
    left: 5%;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}

.sil{
    background-color: #123c69;
    border: 2px solid #454545;
    color: whitesmoke;
    border-radius: 12px;
    height: 550px;
    padding: 12px;
    filter: drop-shadow(0 0 0.75rem #66fc66);
}

.skills{
    font-size: 25px;
    margin-bottom: 0px;
    
}
.skills-details{
    font-size: 18px;
}

.intrests{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.intrests-details{
    font-size: 18px;
}

.language{
    font-size: 25px;
    position: relative;
    margin-top: 16px;
}
.language-datails{
    font-size: 18px;
}

.project1{
    flex: 50%;
    padding: 10px;
    height: 250px; 
    width: 550px;
    margin-top:40px; 
    border-radius:15px ;
    border: 2px solid #2e151b;
}


.project2 {
    flex: 50%;
    padding: 10px;
    height: 250px; 
    margin-top: 80px;
    border-radius:15px ;
    border: 2px solid #2e151b;
}

  .xiotra{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.doc{
    width: 600px;
    margin-left: 120px;
    margin-bottom: 20px;
  }
  .number{
    position:absolute;
    transform: translate(20% , -30%);
    margin-top: 10px;
  }
  .sli-doc{
    width: 900px;
    height: 500px;
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px #376e6f;
  }
  .sli-doc img{
    width: 900px;
    height: 500px;
  }
  .prev{
    position: absolute;
    transform: translate(-0% , 550%);
    cursor: pointer;
    background:transparent;
    border: 1px solid black;
    color:#fc9126;
    font-weight: bold;
    font-size: 25px;
  }
  .next{
    position: absolute;
    transform: translate(-100% , 550%);
    cursor: pointer;
    background:transparent;
    border: 1px solid black;
    color: #fc9126;
    font-weight: bold;
    font-size: 25px;
  }


.slid{
    margin-top: 30px;
}
/* swiper */

  .swiper {
    width: 400px;
    height: 600px;
    margin-top: 30px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

/* swiper */
